<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org/" >

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" th:href="@{~/images/ucl1.png}" type="image/x-icon">
  <title>Landing Page</title>

  <!-- font owesome link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- liniking css -->
  <link rel="stylesheet" th:href="@{~/css/afterlogin.css}">
  <link rel="stylesheet"  th:href="@{~/css/style.css}">
</head>

<body>

<!-- header section starts  -->
<header>
  <!-- logo and name on left side -->

  <a href="#" class="logo"><img th:src="@{/images/ucl1.png}" alt="Bhakundo Mania" srcset="">Bhakundo Mania</a>

  <div id="menu-bar" class="fas fa-bars"></div>

  <!-- navigation bar starts -->
  <nav class="navbar">
    <a href="#home">home</a>
    <a href="#about">about</a>
    <a href="#review">services</a>
    <a href="#foot">contact</a>
    <a th:href="@{~/user/login}">Login</a>
  </nav>

  <!-- navigation bar completed -->

</header>

<!-- header section ends -->

<!-- home section starts -->
<section class="home" id="home">
  <div class="content">
    <h3>Come and Play</h3>
    <p>Come and play bhakundo with us! Our bhakundo court booking system offers a variety of courts in various locations, so you can easily find and book the perfect court for your needs. Whether you're looking to play a casual
      pickup game or train with your team, our platform makes it easy to find the right court.</p>
    <a href="#about" class="btn">know more</a>
  </div>
  <div class="image">
    <img th:src="@{/images/one.png}" alt="Bhakundo">
  </div>
</section>
<!-- home section comes to end -->

<!-- about section start -->
<section class="about" id="about">
  <h1 class="heading">About <span>us</span></h1>
  <div class="whole">
    <div class="img-container">
      <img src="https://images.unsplash.com/photo-1630420598771-dd52ab08c8cb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1325&q=80"
           alt="Bhakundo">
    </div>
    <div class="description">
      <h3>What is Bhakundo Mania?</h3>
      <P>Bhakundo Mania is an online platform that allows players, teams, and organizations to book bhakundo courts for various activities such as training, friendly games, tournaments, and leagues. The system typically offers a variety of features that make it easy and
        convenient for users to search, book, and pay for their
        preferred bhakundo courts..</P>
      <P>Bhakundo Mania provides an easy and convenient way for players, teams, and organizations to find and book bhakundo courts, reducing the hassle and time required to book courts through other means. It can also help court owners or administrators
        to better manage their court listings and maximize their bookings and revenue..</P>
    </div>
  </div>
</section>
<!-- about section ends -->
<section class="review" id="review">

  <h1 class="heading"> What we <span>provide?</span> </h1>

  <div class="box-container">

    <div class="box">
      <img th:src="@{/images/bhakundo.jpg}" alt="">
      <h3></h3>

      <p> Booking a bhakundo court has never been easier with our court booking
        service! Our platform allows you to quickly and easily book a bhakundo
        court at your preferred location, date, and time with just a few clicks.
        Our real-time booking system ensures that you get the most updated and accurate
        information on court availability, so you can easily find and book the court that suits your
        schedule and needs.
      </p>
    </div>
    <div class="box">
      <img th:src="@{/images/court.jpg}" alt="">
      <h3></h3>

      <p> Looking for a bhakundo court to play with your
        friends or team? Our court availability service
        has got you covered! With just a few clicks, you can
        easily search and find the best bhakundo courts near you
        based on your preferred location, date, and time. Our real-time court
        availability feature ensures that you get the most updated and accurate information on
        available courts, allowing you to easily book the court that suits your schedule and needs.</p>
    </div>
    <div class="box">
      <img th:src="@{/images/contactus.jpg}" alt="">
      <h3></h3>

      <p> We understand that you may have questions or feedback about our
        platform and services, which is why we have a dedicated contact us service to help you out.
        Our customer support team is always ready to assist you with any questions or
        concerns you may have, and we encourage you to reach out to us if you need any assistance
        or have any feedback about our services.
      </p>
    </div>

  </div>

</section>

<!-- review section ends -->

<!-- bhakundoss -->
<section id="bhakundos">
  <h1>Here are the currently available bhakundos</h1>

  <div class="all-bhakundo">
    <div class="indiviudal-bhakundo">
      <img th:src="@{/images/court.jpg}" alt="">
      <h2>Velocity</h2>
      <p>Velocity Bhakundo is a popular bhakundo facility located in Rato Pul, Kathmandu, Nepal. It is a modern and well-equipped sports venue that offers indoor bhakundo courts for various activities, such as friendly games, training, tournaments, and leagues.</p>
    </div>
    <div class="indiviudal-bhakundo">
      <img th:src="@{/images/court.jpg}" alt="">
      <h2>Prime</h2>
      <p>Prime Bhakundo is a popular bhakundo facility located in Gyaneshwor, Kathmandu, Nepal. It is a modern sports venue that provides state-of-the-art indoor bhakundo courts, making it an ideal place for players of all levels to train, play games, and compete in tournaments.</p>
    </div>
    <div class="indiviudal-bhakundo">
      <img th:src="@{/images/court.jpg}" alt="">
      <h2>Kastamandap</h2>
      <p>Kastamandap Bhakundo provides multiple courts that are
        equipped with high-quality artificial turf, providing a natural feel for players. The courts are also equipped with advanced lighting systems,
        making it possible to play bhakundo games during the daytime or in the evening.</p>
    </div>
  </div>
</section>



<!-- footer -->

<div class="footer" id="foot">
  <div class="inner-footer">

    <!--  for company name and description -->
    <div class="footer-items">
      <h1>Website Name</h1>
      <p>Bhakundo Mania</p>
    </div>

    <!--  for quick links  -->
    <div class="footer-items">
      <h3>Quick Links</h3>
      <div class="border1"></div> <!--for the underline -->
      <ul>
        <a href="#"><li>Home</li></a>
        <a href="#"><li>Contact</li></a>
        <a href="#"><li>About</li></a>
      </ul>
    </div>

    <!--  for some other links -->
    <div class="footer-items">
      <h3>Services</h3>
      <div class="border1"></div>  <!--for the underline -->
      <ul>
        <a href="#"><li>Quick Booking</li></a>
        <a href="#"><li>Quick Booking</li></a>
        <a href="#"><li>Quick Booking</li></a>
        <a href="#"><li>Quick Booking</li></a>
      </ul>
    </div>

    <!--  for contact us info -->
    <div class="footer-items">
      <h3>Contact us</h3>
      <div class="border1"></div>
      <ul>
        <li><i class="fa fa-map-marker" aria-hidden="true"></i>Dillibazar, KTM</li>
        <li><i class="fa fa-phone" aria-hidden="true"></i>123456789</li>
        <li><i class="fa fa-envelope" aria-hidden="true"></i>bhakundomania@gmail.com</li>
      </ul>

      <!--   for social links -->
      <div class="social-media">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-google-plus-square"></i></a>
      </div>
    </div>
  </div>



  <!-- scroll top button  -->
  <a href="#home" class="fas fa-angle-up" id="scroll-top"></a>

  <!-- custom js file link  -->
  <script th:src="@{/js/script.js}"></script>

</body>

</html>